body {
    background-color: ghostwhite;
}

h1 {
    font-size: 38px;
    text-align: center;
    margin: 0 auto;
}

#movieButtons {
    text-align: center;
    background-color: cornsilk;
    margin: 0 auto;
    width: 600px;
    padding: 20px 30px 20px 30px;
}

.movie {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightblue;
    margin: 0 auto;
    cursor: pointer,
}

#movieGifs {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: flex-start;
}
.movie:hover {
    background-color: cadetblue;
}

#search {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 35px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: lightseagreen;
    padding: 10px 15px 10px 15px;
}

#searchfield:focus {
    background-color: lightblue;
  }
#searchfield {
    margin-left: 15px; 
    justify-content: center;
}
#label {
    float: left;
    padding-right: 5px;
    font-size: 24px;
}
#submit {
    float: right;
    margin-top: 4px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 10px 0px 10px 0px;
    text-align: center;
}
